[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]ogs/
UserSettings/
.vs/
.DS_Store
*.apk
*.unitypackage
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.bak
*.tmp
*.log
*.diff
*.patch
*.csv
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
Packages/PackageCache/